.App {
    text-align: center;
    overflow-y: hidden;

  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    margin-top: 0px;
  }
  
  .item-container img {
    width: 100%;
    min-height: 47.6vh;
  }
  @media (max-width: 1150px) {
    .item-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 778px) {
    .item-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 408px) {
    .item-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  
  