body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/paisaje.jpg"); 
} 

.img-home {
  padding: 50px;
}

.title{
  height: 198px;
}
.title1{
padding: 1px;
}

.btn-search {
  background-color: #1ba94c;
  color: #ffffff;
  box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
  font-size: 18.005px;
  padding-left: 1.528em;
  padding-right: 1.528em;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 2.778em;
  border: none;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #ffffff;
  border: 1px solid #1ba94c;
  color: #1ba94c;
}



